.nav {
  @apply relative md:flex items-center text-white bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
}

.heading {
  @apply text-2xl font-mono font-black inline;
}
.Container {
  @apply p-4 px-10 md:px-24;
}

.nav-links {
  font-family: monospace;
  @apply md:flex ml-auto;
  transition: 2s;
}

.hover-underline-animation {
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-item {
  @apply hover-underline-animation md:inline my-4 md:m-4 text-base font-medium ;
}

.burger {
  @apply flex justify-start mt-3 flex-col absolute rounded right-0 md:hidden;
  width: 50px;
  height: 100%;
  top: 0;
}

.bar1,
.bar2,
.bar3 {
  @apply bg-zinc-700 w-8 h-1;
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 25%;
}

.change:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-9px, 9px);
  transform: rotate(-45deg) translate(-9px, 9px);
}

/* Fade out the second bar */
.change:nth-child(2) {
  opacity: 0;
}

/* Rotate last bar */
.change:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
